# =============================================================
# .env.example — Auth Service
# Copy ke .env: cp .env.example .env
# =============================================================

# App
APP_ENV=development
APP_PORT=8001
APP_GRPC_PORT=9001

# PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_NAME=auth_db
DB_USER=postgres
DB_PASSWORD=281205
DB_SSL_MODE=disable

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DB=0

# JWT — generate dengan: openssl rand -hex 32
JWT_ACCESS_SECRET=441bfb7d47ad32c37f7e4d6e144c635f1d04c0f82f73668113dd91276d95c6a4
JWT_REFRESH_SECRET=441bfb7d47ad32c37f7e4d6e144c635f1d04c0f82f73668113dd91276d95c6a4
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=168h

# Google OAuth
# Buat di: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8001/api/v1/auth/google/callback

# RabbitMQ
RABBITMQ_URL=amqp://guest:281205@localhost:5672/